@import '../../node_modules/bootstrap/dist/css/bootstrap.css';

.home {
  text-align: center;
  font-family: 'Prompt', sans-serif;
  a {
    color: black;
  }
}
.home {
  .home {
    *,
    ::before,
    ::after {
      margin: 0px;
    }
  }
  h2 {
    color: white;
  }
  .background-wrapper {
    height: 100%;
    background-image: linear-gradient(
      268deg,
      rgba(0, 0, 0, 0.3) 22%,
      rgba(0, 0, 0, 0.6) 87%
    );
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }
  .top-section {
    background-image: url('../images/peace1.jpg');
    display: flex;
    flex-direction: column;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    //   background-attachment: fixed;
    justify-content: center;
    flex-grow: 1;
    height: 500px;
    inset: 0px;
  }

  .go-meditate {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;

    p {
      border: white 1.2px solid;
      border-radius: 100px;
      padding: 1rem;
    }
  }

  .meditation-links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
  }

  .second-section {
    h6 {
      font-weight: 400;
    }
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 300px;
  }

  .rebalance,
  .refocus {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    img {
      height: 50px;
    }
  }

  .third-section {
    height: 300px;
    background-image: url('../images/sun.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  .fourth-section {
    h4 {
      font-weight: 300;
    }
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 300px;
  }

  .notes,
  .timer,
  .profile-progress {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    img {
      height: 50px;
    }
  }
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.med-button {
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-weight: 400;
  color: black;
  background: white;
  border: 2px solid rgb(42, 185, 201);
  box-shadow: 3px 3px 0 black, -3px -3px 0 black, -3px 3px 0 black,
    3px -3px 0 black;
  transition: 500ms ease-in-out;
}

.med-button:hover {
  box-shadow: 20px 5px 0 black, -20px -5px 0 rgb(42, 185, 201);
}

.med-button:focus {
  outline: none;
}
