* {
  box-sizing: border-box;
  list-style: none;
}

.nav {
  ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  a {
    color: unset;
    text-decoration: none;
  }

  @media only screen and (max-width: 600px) {
    .nav .main {
      margin-left: 5px;
    }
  }
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
