.meditation-show {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
  min-height: 92vh;
  background: #0c1527;
  color: #e0e9f3;
  h2 {
    margin-bottom: 2rem;
  }
  .categories {
    font-style: italic;
    font-size: small;
    margin-bottom: 2rem;
  }
}
