.med-wrapper {
  min-height: 92vh;
  padding-top: 10rem;
  display: flex;
  justify-content: space-evenly;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 850px;
  background-image: url('../images/medhome.jpg');
  button {
    background: #0c1527;
    color: #e0e9f3;
    padding: 1rem;
  }
}
