.timer-slider {
  height: 44px;
  border: 2px solid #18cdba;
  border-radius: 20px;
}

.timer-thumb {
  background-color: #18cdba;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 20px;
}
