.control-panel {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
}

.timer {
  font-size: 10px;
  font-weight: 200;
  color: #eef6ff;
}
.timer-logo {
  display: flex;
  width: 100%;
}
.timer-logo img {
  height: 45px;
  width: 45px;
  margin-left: 86%;
  margin-bottom: -10%;
  margin-top: -1%;

  background: #0c1527;
}
